// Основной шаблон кнопки
.btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    padding: 0 12px;
    border-radius: 50px;
    transition: $tr;
    white-space: nowrap;
    user-select: none;

    &.is-fill {
        background: $text-accent;
        border: 1px solid $light;
    }

    &.is-stroke {
        border-color: $text-accent;
    }

	@media (any-hover: hover) {
        
        &:hover {
            // background: #000;
        }
    }
}

// .link {
//     transition: $tr;

//     @media (any-hover: hover) {
        
//         &:hover {
//             color: $text-accent;
//         }
//     }

//     &:active {
//         color: brig-color($text-accent, active);
//     }
// }